{
    "project_id": "infra-tra-la-la",
    "source_image_family": "ubuntu-1604-lts",
    "image_description":"packer test",
    "disk_type":"pd-standard",
    "machine_type": "pd-ssd",
    "image_family": "reddit-base",
    "zone": "europe-west1-b",
    "tags":"reddit-app"
}
